<% provide :title, @user.name %>
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag @user.default_avatar_image %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <a class="edit-profile">
          <button><%= t "edit_profile" %></button>
        </a>
      </div>
      <%= render "stat" %>
      <h2 class="name"><%= @user.name %></h2>
      <a class="website"><%= @user.website %>></a>
    </div>
  </div>
</div>
<%= render "tab" %>
<hr>
